body {
    background-color: #222;
    color: #fff;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2, h3, p {
    text-align: center;
}

.content {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
}

.window {
    background-color: #444;
    border-radius: 10px;
    margin-bottom: 20px;
    position: relative; /* Для позиционирования логотипа */
}

.window-header {
    background-color: #555;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: center; /* Центрирование по горизонтали */
    align-items: center; /* Центрирование по вертикали */
    height: 60px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.window-body {
    padding: 20px;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.menu-item {
    background-color: #666;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.version {
    text-align: center;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.download-button {
    background-color: #00ff00;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.support-button {
    background-color: #ff7300;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.features {
    display: flex;
    justify-content: center; /* Center the features horizontally */
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
}

.feature {
    background-color: #444;
    padding: 20px;
    border-radius: 10px;
    width: 30%; /* Adjust width for desired spacing */
    min-width: 250px; /* Minimum width to prevent elements from collapsing */
    text-align: center; /* Center text within each feature */
}

.footer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.footer-section {
    background-color: #444;
    padding: 20px;
    border-radius: 10px;
    width: 33.33%;
}

@media (max-width: 768px) {
    .features {
        flex-direction: column;
    }

    .footer {
        flex-direction: column;
    }

    .footer-section {
        width: 100%;
    }
}